.container{
    display: grid;
    grid-template-areas:
        "head head"
        "text buttons"
        "imageBlock imageBlock";
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;


}
.headTitle{
    grid-area:head;
    justify-self: center;
    font-size: 35px;
    color:cornflowerblue;

}
.blockText{
    grid-area:text;
    padding:25px;

}
.buttons{
    display:grid;
    grid-area:buttons;

}
.buttonAll{
    width:150px;
    font-size: 25px;
    border: 1px solid;
    margin: 10px;
    background-color: greenyellow;
    color:darkolivegreen;
    text-align: center;
    justify-self: center;
}
.imageBlock{
    padding-top: 25px;
    grid-area:imageBlock;
    justify-self: center;
}
.imageBig {
    width:100%;
}

@media all and (max-width: 500px) {
    .container {
        display: grid;
        grid-template-areas:
        "head"
        "text"
        "imageBlock"
        "buttons";
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }


}